.aboutcontainer{
    margin-top: 90px;
    width:100%;
}
h2{
    text-align: center;
}
.abtimg{
    background-image: url("../../assets/aboutimg.jpg");
    background-repeat: no-repeat;
}
h3 {
    font-weight: 700;
    font-size: 26px;
    color: #555555;
    padding-bottom: 8px;
}
p{
    font-style: italic;
    text-align: justify;
}

.skillcontainer {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.progress-bar {
 
    height: 10px;
    transition: 0.9s;
    background-color: #34b7a7;
}

.progress .skill {
    padding: 10px 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #222222;
}

.progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}

.progress .skill .val {
    float: right;
    font-style: normal;
}
.progress-bar-wrap{
    background-color: #cfcfcf;
}
@keyframes slideInUp {
    from{
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .container {
    animation: slideInUp 2s ease-in-out;
  }
   /* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"); */
   .counter-container {
    display: flex;
    justify-content: center;
    text-align: center;
     margin: 30px 50px; 
  }
   
  .counter {
    font-size: 48px;
    display: block;
    color: #34b7a7;
  }
  
  @media (max-width: 580px) {
    body {
      flex-direction: column;
    }
  } 
  .testimonals-img{
    width: 120px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
  }
  
 
  